{% extends 'base.html' %}
{% load static %}
{% block title %}
    Login to Craft sales
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div id="outer">
<div align = "center">
  <h2 class="h4" align = "center"><b>Talla Global</b></h2>
{% if messages %}

    {% for message in messages %}
    <div style="color:red">{{ message }}</div>
    {% endfor %}

{% endif %}

<h1>Login</h1>
<form method="post" >
  {% csrf_token %}

<b>{{form.as_p}}</b>

  <button  class="btn btn-primary button4 button3" type="submit"><h5>Member Sign In</h5></button>
</form>

<br>
<div style="color:blue"><a href="/register/"><b> Join Free </b> </a>  |  |  <a href="/accounts/password_reset/"> <b> Forgot your password? </b></a></div>
</div><br><br><br><br><br>
{% include "footer.html" %}
</div>
{% endblock %}
