{% load static %}

<div class= "row" align = "center" style="background-color:gold">
<div class="col-md-4 " >
  <h2 style="color:blue">Call Now</h2>
<p >
+254703419149
</p>

<h3 style="color:blue">Contact Us Via Skype</h3>
<h4 >TallaGlobal</h4>
</div>
<div class="col-md-4 " >
  <h2 style="color:blue">Email Us</h2>
  <h4 >General Enquiries</h4>
  <p >tallaglobal@gmail.com</p>
</div>
<div class="col-md-4 " >
  <h2 style="color:blue">copyright © 2018</h2>
  <h3 >powered by Talla Global</h3>
  <p > Version: 2.9 2018-03-25</p>
</div>
</div>
