{% load static %}

<div class= "row" align = "center" style="background-color:black">
<div class="col-md-4 " >
  <h2 style="color:gold">Call Now</h2>
<p style="color:white">
+254703419149
</p>

<h3 style="color:gold">Contact Us Via Skype</h3>
<h4 style="color:white">TallaGlobal</h4>
</div>
<div class="col-md-4 " >
  <h2 style="color:gold">Email Us</h2>
  <h4 style="color:white">General Enquiries</h4>
  <p style="color:white">tallaglobal@gmail.com</p>
</div>
<div class="col-md-4 " >
  <h2 style="color:gold">copyright © 2018</h2>
  <h3 style="color:white">powered by Talla Global</h3>
  <p style="color:white"> Version: 2.9 2018-03-25</p>
</div>
</div>
