{% extends "base.html" %}
{% load static %}
{% block navbar %}
 {% if request.user.is_authenticated %}
<div class="w3-bar  w3-blue w3-padding-16 w3-large">
  <a href="/member_home/" class="w3-bar-item w3-button"><b><font style="color:gold">
    Talla</font> <font style="color:gold">Global</font></b></a>
  <a href="/member_home/" class="w3-bar-item w3-button w3-hide-small">Member Home</a>
  <a href="/deposit/" class="w3-bar-item w3-button w3-hide-small">Deposit</a>
  <a href="/member_contact/" class="w3-bar-item w3-button w3-hide-small">Contact</a>
  <a href="/accounts/logout/" class="w3-bar-item w3-button w3-hide-small">Logout</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
</div>

<div id="demo" class="w3-bar-block w3-blue w3-hide w3-hide-large w3-hide-medium">
  <a href="/member_home/" class="w3-bar-item w3-button">Member Home</a>
  <a href="/deposit/" class="w3-bar-item w3-button">Deposit</a>
  <a href="/member_contact/" class="w3-bar-item w3-button">Contact</a>
  <a href="/accounts/logout/" class="w3-bar-item w3-button">Logout</a>
</div>
 {% else %}
<div class="w3-bar  w3-blue w3-padding-16 w3-large">
  <a href="/home/" class="w3-bar-item w3-button"><b><font style="color:gold">
    Talla</font> <font style="color:gold">Global</font></b></a>
  <a href="/home/" class="w3-bar-item w3-button w3-hide-small"><b>Home</b></a>
  <a href="/contact/" class="w3-bar-item w3-button w3-hide-small"><b>Contact</b></a>
  <a href="/about/" class="w3-bar-item w3-button w3-hide-small"><b>About Us</b></a>
  <a href="/payment/" class="w3-bar-item w3-button w3-hide-small"><b>payment</b></a>
  <a href="/register/" style="float:right" class="w3-bar-item w3-button w3-hide-small">
    <button type="submit" class="btn btn-success button5 button3" ><b>Sign up</b></button></a>
  <a href="/accounts/login/" style="float:right" class="w3-bar-item w3-button w3-hide-small">
    <button type="submit" class="btn button4 button3 " ><b>Sign in</b></button></a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
</div>

<div id="demo" class="w3-bar-block w3-blue w3-hide w3-hide-large w3-hide-medium">
  <a href="/home/" class="w3-bar-item w3-button"><b>Home</b></a>
  <a href="/contact/" class="w3-bar-item w3-button"><b>Contact</b></a>
  <a href="/about/" class="w3-bar-item w3-button"><b>About Us</b></a>
  <a href="/payment/" class="w3-bar-item w3-button w3-hide-small"><b>payment</b></a>
  <a href="/accounts/login/" class="w3-bar-item w3-button">
    <button type="submit" class="btn button4 button3" ><b>Sign in</b></button></a>
  <a href="/register/" class="w3-bar-item w3-button ">
  <button type="submit" class="btn btn-success button5 button3" ><b>Sign up</b></button></a>
</div>
{% endif %}

{% endblock %}
