{% extends "base.html" %}
{% load static %}
{% block navbar %}
 {% if request.user.is_authenticated %}
<div class="w3-bar  w3-blue w3-padding-16 w3-large">
  <a href="/member_home/" class="w3-bar-item w3-button">Talla Global</a>
  <a href="/member_home/" class="w3-bar-item w3-button w3-hide-small">Member Home</a>
  <a href="/deposit/" class="w3-bar-item w3-button w3-hide-small">Deposit $ Upgrade</a>
  <a href="/member_contact/" class="w3-bar-item w3-button w3-hide-small">Contact</a>
  <a href="/accounts/logout/" class="w3-bar-item w3-button w3-hide-small">Logout</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
</div>

<div id="demo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium">
  <a href="/member_home/" class="w3-bar-item w3-button">Member Home</a>
  <a href="/deposit/" class="w3-bar-item w3-button">Deposit $ Upgrade</a>
  <a href="/member_contact/" class="w3-bar-item w3-button">Contact</a>
  <a href="/accounts/logout/" class="w3-bar-item w3-button">Logout</a>
</div>
 {% else %}
<div class="w3-bar  w3-blue w3-padding-16 w3-large">
  <a href="/home/" class="w3-bar-item w3-button">Talla Global</a>
  <a href="/home/" class="w3-bar-item w3-button w3-hide-small">Home</a>
  <a href="/contact/" class="w3-bar-item w3-button w3-hide-small">Contact</a>
  <a href="/home/" class="w3-bar-item w3-button w3-hide-small">About Us</a>
  <a href="/features/" class="w3-bar-item w3-button w3-hide-small">Features</a>
  <a href="/register/" style="float:right" class="w3-bar-item w3-button w3-hide-small">
    <button type="submit" class="btn btn-success button3" ><b>Sign up</b></button></a>
  <a href="/accounts/login/" style="float:right" class="w3-bar-item w3-button w3-hide-small">
    <button type="submit" class="btn button4 button3" ><b>Sign in</b></button></a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
</div>

<div id="demo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium">
  <a href="/home/" class="w3-bar-item w3-button">Home</a>
  <a href="/contact/" class="w3-bar-item w3-button">Contact</a>
  <a href="/home/" class="w3-bar-item w3-button">About Us</a>
  <a href="/features/" class="w3-bar-item w3-button">Features</a>
  <a href="/accounts/login/" class="w3-bar-item w3-button">Sign in</a>
  <a href="/register/" class="w3-bar-item w3-button ">Sign up</a>
</div>
{% endif %}

{% endblock %}
