{% extends "base.html" %}
{% load static %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block slideshow %}
{% include "home/slideshow.html" %}
{% endblock %}

{% block content %}

<div id="outer">

  <h2 class="h4" align = "center"><b>About Talla Global</b></h2>
<p>
  Talla Global builds web software to help investors across the globe access World financial markets. We make it possible for both local and international investors to research and invest, any time, any where.
</p>
<p>
Our founders, advisors and board of directors have extensive experience in global financial markets.
</p>
<p>
We love what we do, and are infinitely curious.
</p>
<br>

<div class="w3-row-padding" align = "center">
  <div class="w3-third">
<h4 class="h4" align = "center"><b> Talla Global</b></h4>
<p>We are a leading corporate entity with state-of-the-art technology that is geared towards the effective
   managements of assets and we are known for the positive results that we offer our highly esteemed clients that
    come from all walks of life. We have been in the business of effective investment management for over three years
     and as of today; we manage assets ranging from equities, real estate, fixed income and multiple assets of financial value.
</p>
<p>
Due to the common and well-known facts that the value of investment fluctuates every time due to a combination of several factors
 which may or may not be directly/indirectly linked together, there is a possibility of the investors not getting back their
  total investments. But it is worthy of note that we have put adequate measures in place to ensure that our investors makes
   profit because we are in this business to be a pace-setter when it comes to reliable investment platform.
 </p>
  </div>

  <div class="w3-third">
<h4 class="h4" align = "center"><b> Our Investment Philosophy</b></h4>
<p>We are a team of well-grounded financial experts with backgrounds from different financial institutions and in light of our
   intellectual expertise, our philosophy is ultimately geared toward ensuring the profitable return on investment of our
    investors because we want everyone that invests with us to feel the positive results and impacts of what we stand for.
</p>
<p>
What make us stand out from the crowd isn’t only our highly technical expertise, but also our love for humanities and
a burning passion to ensure that the investments of our investors become profitable in both the short and long run.
</p>
<p>
Our team are made of regular people like you but with great desire and professionalism that is ultimately geared toward
 a successful accomplishment of our investment targets which in one way or the other gives our investors more than one
  reason to be happy and have peace of mind knowing that their investments are safe with us and we meant well for them.
</p>
<p>
We have multiple methods of facilitating our investments agenda with the same goal of ensuring profitability of the investments.
 As the price and value of investments will rise and fall based on the prevailing global and international economic landscape, we
  deploy different ways of successfully navigating the ever fluctuating waters of global commerce and with each method we discover
   or invents, it makes us better at what we do which in turn directly results in the satisfaction and profits of our investors.
</p>
<p>
As part of our philosophy, we don’t ever make any outrageous promises that we obviously may not be able to keep, but we do
 ensure that everything possible is done to project the investment margin on the profit side of the book and to do that, we
  have many people operating in different countries of the world that work tirelessly for the single aim of ensuring that
   your assets and investments become profitable in both the long and short run.
</p>
  </div>

  <div class="w3-third">
<h4 class="h4" align = "center"><b> Our Investment Portfolio and Expertise</b></h4>
<p>As already said before, our investment expertise range from effective managements of assets and equities, fixed income and
   also real estates. We have honed our skills and refined our expertise in these investment fields and that makes us one of
    the utmost pacesetters when it comes to investment related to them.
</p>
<p>
When it comes to Real Estates, our team that specialized in that field has all the necessary skills and qualifications that
 ensure that whatever investment we embarked on turns into a profitable one while ensuring that we carry out a diligent research
  to ensure that our investor's assets are properly utilized with minimal risks for maximum gains.
</p>
<p>
We have team members that specialize in each of our investment portfolios and we have experts to answer whatever issues
 or question any of our investors or potential investors might have. With our highly motivated and dedicated team members
  and managers, coupled with our great technical expertise, we ensure the best professional practice and return on investment
   delivery that makes us a worthy choice for anyone, anywhere, always
 </p>
  </div>
</div>
{% include "footer.html" %}
</div>
{% endblock %}
