{% extends 'base.html' %}
{% load static %}
{% block title %}
    Talla Global - Member Page
{% endblock %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}
{% block slideshow %}
{% include "home/slideshow.html" %}
{% endblock %}

{% block content %}
<div id="outer">

  <h2 class="h4" align = "center"><b>Contact Us</b></h2>

  <div class="w3-row-padding"  align = "center">
    <div class="w3-third">
<p>
  Our Support team is more than happy to answer any questions you may have.
</p><p>
  Due to the huge number of requests our support team has launched a modern online chat system to quickly solve your problems.
</p><p>
  If you would like us to help you kindly send us a support ticket by clicking on the support button below and click create ticket. This is the fastest way of communicating to our support team.
</p><p>
  You may also send an email to support@tallaglobal.com or call the phone numbers provided in the Home page for the region you are calling from.
</p><p>
</div>
<div class="w3-third">
<img src="{% static "img/contact-us-k.png"  %}" alt="My image" />
</div>
</div>
{% include "footer.html" %}
</div>
{% endblock %}
