{% extends "base.html" %}
{% load static %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block slideshow %}
{% include "home/slideshow.html" %}
{% endblock %}

{% block content %}

<div id="outer">

  <h2 class="h4" align = "center"><b>Talla Global</b></h2>

  <div class="w3-row-padding" align = "center">
    <div class="w3-third">
    <img src="{% static "img/house_money.png"  %}"
     alt="CraftTechSolution Nairobi, Kenya"  />
  <h5 class="h4">Get more for your money</h5>
  <p>Save and invest in the places that give you the best returns for your money, bringing you closer to your goals and dreams.
</p><p>
With a 5 minute account set-up and investments as low as $ 25, Talla Global is the next step in your investment journey.
  </p>
  </div>

  <div class="w3-third">
    <img src="{% static "img/world_coins.png"  %}"
     alt="Kenya Web Application Development Company | CraftTechSolution, East Africa"  />
  <h5 class="h4">Do you have goals?</h5>
  <p>Whether you are saving for a house, a car, or for a rainy day, get more for your savings on
     Abacus with up to 20% weekly. </p>
     <p>
       Maybe it’s a solid financial foundation for the future or giving your kids the best educational
        opportunities. We can help you reach them.
  </p>
  </div>

  <div class="w3-third">
    <img src="{% static "img/round-icon-statistics.png"  %}"
     alt="About us | Kenya Web App Developers Team | CraftTechSolution, East Africa"  />
  <h5 class="h4">Live a better life</h5>
  <p>Get the thrill of playing in the markets. Trade in individual stocks, bonds, forex* and bitcoin*.
    </p>
    <p>Earn 2.5% on all your referrals deposit</p>
    <a href="/register/" >
    <button type="submit" class=" button5 button3" ><b><h4>Register Now</h4></b></button></a>
  </div>
  </div>
  <br>

  <h2 class="h4" align = "center"><b>Why Talla Global? </b></h2>

  <div class="w3-row-padding" align = "center">
    <div class="w3-third">
    <img src="{% static "img/Simple1.jpg"  %}"
     alt="CraftTechSolution Nairobi, Kenya"  />
  <h5 class="h4">Simplicity</h5>
  <p>1. Multiple deposit and withdrawal options</p>
<p>2. A minimum deposit of $ 25 and no maximums.</p>
  </div>

  <div class="w3-third">
    <img src="{% static "img/safety.jpeg"  %}"
     alt="Kenya Web Application Development Company | CraftTechSolution, East Africa"  />
  <h5 class="h4">Safety</h5>
<p>We use bank level security with the latest security measures, encrypted data and transactions.</p>

<p>We value and respect your privacy.</p>
<p>Your funds are kept safe in World reputable banks.</p>
  </div>

  <div class="w3-third">
    <img src="{% static "img/500_F_132611115_HzS743lac95Uc2AIKw3NyeNMOXlDd1Ul.jpg"  %}"
     alt="About us | Kenya Web App Developers Team | CraftTechSolution, East Africa"  />
  <h5 class="h4">Support</h5>
  <p>Contact Talla Global friendly customer service consultants via our real time one on one chat.
    We also provide a comprehensive help section.</p>

    <a href="/register/" >
    <button type="submit" class=" button5 button3" ><b><h4>Join Now</h4></b></button></a>
  </div>
  </div>

<hr>
<br>
{% include "footer.html" %}
</div>
{% endblock %}
