{% extends "base.html" %}
{% load static %}
{% block navbar %}
{% include "navbar.html" %}
{% endblock %}
{% block image %}
<div class=" first-info">
<br><br><br><br><br><br>
  <h1  align = "center" style="color:#4169E1"><b>Talla Global</b></h1>
  <h3 align = "center">Respond To Market Research Paid Online Surveys and Earn From kshs.500/survey</h3>
<br><br>
<li align = "center"><a href="/accounts/login/" style="color: #ffffff">
  <button type="submit" class="btn btn-success" ><h3>GET STARTED NOW </h3></button></a>
  <a href="/register/" style="color: #ffffff">
    <button type="submit" class="btn btn-primary" ><h3> FEATURES</h3></button></a></li><br><br><br>
    <h4 align = "center">Paid Online Surveys in Africa- From Talla Global. Join Today And Get Paid After Every 4 Surveys!</h4>
  </div>
{% endblock %}
{% block content %}
<h2 align = "center" style="color:blue"><b>About Us</b></h2>
<p align = "center">A Preview Of Talla Global</div>
  <p align = "center"> <p>     Talla Global is an international market research company with consumer to Business(C2B) panels across Africa.
       There is no one who can better advise companies on products except the daily users of the products.</p><p> International
       businesses venturing into and African countries can learn about the prevailing market conditions and potential
        of their services or products from locals like you and me.Talla Global Sends Online Paid Surveys to Its Members.Our job is to find people to answer questions from home
     regarding well-known international brands</p></p>
<br>
<h2 align = "center" style="color:blue"><b>How It Works</b></h2>
<h2 style="color:blue" align = "center">Annual Premium Subscription & Pricing</h2>
<p align = "center">
  Premium Subscriptions are meant for Members who wish to Do Market research as A full time job and most Companies prefer
   sending their surveys to Vetted and profiled members hence we charge a small annual administration fee for this.
    Premium Members get more surveys as their interests are well profiled and easy to target based on Demographics.
</p>
<div class= "row">
<div class="col-md-4 " align = "center" >
  <div class="card">
<h2 style="color:blue" >STARTER</h2>
  <br>
  <div class="card-header bg-primary"><b><h3 align = center>KSH. 4000</font> /year</h1><h3><b></div>
  <p>Surveys per week: 2</p>
<p>Min Earnings/Survey: 500</p>
<p>Earnings With 5 refferals: 2000/week</p>
<p>Earnings with 10 refferals: 3000/week</p>
<p>Earnings With 20 refferals: 5000/week</p>
<p>Earnings With 50 refferals: 11000/week</p>
<p>Payments After Every 4 surveys</p>
<p>Get Paid Every Monday</p>
<hr>
<a href="/accounts/login/" ><button  class="btn btn-primary" type="submit"><h5>LOGIN TO CHOOSE PLAN</h5></button></a>
</div>
</div>

<div class="col-md-4 " align = "center">
    <div class="card">
<h2 style="color:blue" >BUSINESS</h2>
  <br>
<div class="card-header bg-primary"><b><h3 align = center>KSH. 8000</font> /year</h1><h3><b></div>
  <p>Surveys per week: 4</p>
  <p>Min Earnings/Survey: 500</p>
  <p>Earnings With 5 refferals: 3000/week</p>
  <p>Earnings with 10 refferals: 4000/week</p>
  <p>Earnings With 20 refferals: 6000/week</p>
  <p>Earnings With 50 refferals: 12000/week</p>
  <p>Payments After Every 4 surveys</p>
  <p>Above is if your refferal is a starter level</p>
  <p>Get Paid Every Monday</p>
  <hr>
  <a href="/accounts/login/" ><button  class="btn btn-primary" type="submit"><h5>LOGIN TO CHOOSE PLAN</h5></button></a>
</div>
</div>
<div class="col-md-4 " >
<div align = "center">
<h2 style="color:blue">PROFESSIONAL</h2>
  <br>
  <div class="card-header bg-primary"><b><h3 align = center>KSH. 15000</font> /year</h1><h3><b></div>
  <p>Surveys per week: 8</p>
  <p>Min Earnings/Survey: 500</p>
  <p>Earnings With 5 refferals: 5000/week</p>
  <p>Earnings with 10 refferals: 6000/week</p>
  <p>Earnings With 20 refferals: 8000/week</p>
  <p>Earnings With 50 refferals: 14000/week</p>
  <p>Payments After Every 4 surveys</p>
  <p>Above is if your refferal is a starter level</p>
  <p>Get Paid Every Monday</p>
  <hr>
  <a href="/accounts/login/" ><button  class="btn btn-primary" type="submit"><h5>LOGIN TO CHOOSE PLAN</h5></button></a>
</div>
</div>
</div><br>
{% include "footer.html" %}
{% endblock %}
