{% extends 'base.html' %}
{% load static %}
{% block title %}
    Talla Global - Member Page
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div id="outer">

<h2 class="h4" align = "center">
  Forms Of Payment
</h2>

<div class="w3-row-padding" align = "center">
  <div class="w3-third">
<img src="{% static "img/mpesa.png"  %}">
    <h4 class="h4" align = "center">
    	M-PESA Payment Method
    </h4>

    <h4>
      Kindly go to M-PESA menu and select;

    </h4>
    <p>
      a) Lipa na M-PESA
    </p>
    <p>
      b) Buy Goods and Services
    </p>
    <p>
      c) Enter Till Number <font style="color: red">806019</font>
    </p>
    <p>
      d) Enter Amount <font style="color: red">KSH.XXX</font>
    </p>
    <p>
      e) Press OK
    </p>

<br>
<hr>
</div>
  <div class="w3-third">
    <img src="{% static "img/skrill.jpeg"  %}">
    <h4 class="h4" align = "center">
      PAYMENT VIA SKRILL
    </h4>

    <p>
    Kindly make your payment through Skrill to this email
    </p>
    <p style="color: red">
    tallaglobal@gmail.com
    </p>
    <p>
      Upon payment kindly send the following details to us at <font style="color: red">tallaglobal@gmail.com</font>
    </p>

    <p>
      a) Your full names as reflected in that Skrill payment
    </p>
    <p>
      b) Your phone number with your country's code e.g. <font style="color: red">+23483736</font>
    </p>

  </div>

  <div class="w3-third">
    <img src="{% static "img/paypal.png"  %}">
    <h4 class="h4">
    PAYMENT VIA PAYPAL
  </h4>

  <p>
  Kindly make your payment through PayPal to this email
  </p>
  <p style="color: red">
  tallaglobal@gmail.com
  </p>
  <p>
    Upon payment kindly send the following details to us at <font style="color: red">tallaglobal@gmail.com</font>
  </p>

  <p>
    a) Your full names as reflected in that PayPal payment
  </p>
  <p>
    b) Your phone number with your country's code e.g. <font style="color: red">+23483736</font>
  </p>

  </div>
</div>

<div class="w3-row-padding" align = "center">
  <div class="w3-third">
<img src="{% static "img/vodacom.jpeg"  %}">
    <h4 class="h4">
    Vodacom Tanzania
  </h4>

    <p>In TZ simply dial *150*00# on your Vodacom line </p>
    <p>Receiptient number: +254726160432  </p>
  </div>

  <div class="w3-third">
    <img src="{% static "img/mtn.png"  %}">
    <h4 class="h4">
    MTN Uganda
  </h4>
<p>In Uganda; dial *165# on your MTN line</p>
 <p>Receiptient number: +254726160432 </p>
  </div>

  <div class="w3-third">
    <img src="{% static "img/mtnmobile.jpg"  %}">
    <h4 class="h4">
    MTN Rwanda
    </h4>
    <p>In Rwanda; dial *830# your MTN line </p>
   <p>Receiptient number: +254726160432  </P>
  </div>
</div>

{% include "footer.html" %}
<div id="outer">
{% endblock %}
