{% extends 'base.html' %}
{% load static %}
{% block title %}
    Craft Sales Create account
{% endblock %}

{% block content %}
<br>
{% include "navbar.html" %}
<div class= "row">

  <h2 align = "center"><b> Member Sign Up</b></h2>
  <hr>
<div class="col-md-4 " >
  <p>
Create your member account and enter a new world of online earning possibilities.
</p>
<p>
Talla Global Values your Opinion and rewards you for your honesty and the time that you spend while responding to our surveys
</p><br>
<p><i>
  By pressing the get started button i agree to the terms and conditions of Talla Global
  <a href="/licence/" style="color: blue">here</a>.
</i></p>
</div>


<div  class="col-md-8">
  <p align = "center" style="color:red">* Username is your M-Pesa Phone Number</p>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
   <p>
     <div  class="col-md-5">{{ field.label_tag }}</div>
     {{ field }}

     {% for error in field.errors %}
       <p style="color: red">{{ error }}</p>
     {% endfor %}
   </p>
 {% endfor %}
    <br>
<div align = "center">
    <p>* All fields required </p>

    <button type="submit" class="btn btn-success" ><h5>GET STARTED NOW</h5></button>
</div>

  </form>
</div>

</div>

<br>
{% include "footer.html" %}
{% endblock %}
